body {
	font-family: arial, sans-serif;
}
a {
	text-decoration: none;
	color: #000;
	opacity: 0.75;
	font-size: 13px;
}

a:hover {
	text-decoration: underline;
}
/*general nav bar*/
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*top navigation bar*/

.top-bar {
	list-style-type: none;
    padding: 0;
    overflow: hidden;
    width:-moz-available;
    margin-top: 15px;
}

#left {
	float: left;
}

#right {
	float: right;
}

.nav {
	display: block;
    padding: 8px;
}

#apps {
	height: 30px;
	width: 30px;
	vertical-align: center;
}
			/*account logo set to I*/
#account {
	width: 32px;
	height:32px;
	background-image: url("https://lh3.googleusercontent.com/-r52kiC5Kh70/AAAAAAAAAAI/AAAAAAAAAAA/ACSILjVV0BdiTMTEn8DwqMwnmYZKeJN1Pg/s32-c-mo/photo.jpg");
	border-radius: 50%;
	display: block;

}

/*bottom navigation bar */
.low-nav {
	list-style-type: none;
    padding: 0;
    overflow: hidden;
    bottom: 0;
    position: absolute;
    width: -moz-available;
}

.nav-2 {
	display: block;
    padding: 8px;
}

/* logo*/

.logo{
	margin: 0 auto 30px auto;
	width: 30%;
    padding: 10px;
    display: block;
}

.search {
	margin: auto;
	text-align: center;
}